APP_PASSWORD=
SESSION_SECRET=
TURSO_DATABASE_URL=libsql://...
TURSO_AUTH_TOKEN=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=
CRON_SECRET=
NOTIFY_BASE_URL=http://localhost:3000
FRANKLIN_CYCLE_ORIGIN_WEEK_START=2026-03-16
